<header>
  <h1>{{chart.title}}</h1>
  <tags-input ng-model="chart.highlight" type="text" tabindex="1" placeholder="Filter by tag">
    <auto-complete min-length="0" source="chart.loadTags($query)" load-on-focus="true" load-on-empty="true"></auto-complete>
  </tags-input>
  <menu>
    <!--a ng-class="{active: tag && chart.highlight.indexOf(tag) !== -1}"
      ng-repeat="tag in chart.tags"
      ng-mouseover="chart.highlight=tag"
      ng-click="chart.highlight=tag">{{tag}}</a-->
  </menu>
  <!--input ng-model="chart.highlight" type="search" name="search" placeholder="Eg. foo"-->
  <a><i class="ion-search"></i></a>
  <a ng-class="{active: editable}"><i class="ion-edit" ng-click="editable=!editable"></i></a>
</header>
<flow-chart
  editable="{{editable}}"
  highlight="{{chart.highlight}}"
  chart="chart.data">
</flow-chart>
